body {
  width: 95vw;
  margin: auto;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background: url(../public/bg2.jpg) no-repeat 0% 25vh;
  background-size: 100vw 40vh;
  background-color: black;
}

/* paragraphs */
.first {
  height: 30vh; 
  margin-top: 10vh;
  color: pink;
  text-align: center;
  font-size: 3em;
  margin-bottom: 10%;
 }
 .second { 
  color: pink;
  margin: 0 0 3% 5%;
 }

/* Navbar */
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50vw;
  margin-left: 5%;
}
.navh1 {
  color: rgb(155, 27, 47);
  font-family: sans-serif;
  text-align: center;
  font-style: oblique;
  font-size: 2.5rem;
}
.navbar a {
  display: inline-block;
  font-size: 2vw;
  text-decoration: none;
  color: pink;
}
.navbar a:hover {
  font-size: 2.5vw;
  color: red;
}
.navbar a:active {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color:rgb(155, 27, 47);
  color: white;
  padding: 5px;
}
.sections {
  display: flex;
  justify-content: space-around;
}
footer ul {
  list-style-type: none;
  line-height: 2em;
}

/* Blog*/
.article {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}
.blogarticle {
  width: 23vw;
  background-color: lightgray;
  border-radius: 2%;
  padding: 10px;
}
.blogarticle img {
  display: inline-block;
  width: 23vw;
}

/* Liquor */
#liquor {
  margin-bottom: 30px;
  border: 1px rgb(131, 125, 125) solid;
  width: 18vw;
  border-radius: 10px;
  color: pink;
  height: auto;
  padding-bottom: 10px;
  text-align: center;

}
#liquor img {
  display: block;
  border-radius: 10px 10px 0 0;
  width: 100%;
}
.liquors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.click, .readmore, .popup {
  background-color: pink;
  color: black;
  border-radius: 15%;
  width: 25%;
  height: 5vh;
  font-size: 1vw;
  text-transform: capitalize;
}
.popup_buttons {
  display: flex;
  justify-content: space-evenly;
}
.readmore{
  width: 30%
}
.submit:active, .readmore:active {
  font-size: large;
}
ul {
  list-style-type: none;
  font-style: italic;
}
h3 { color: white;}

/* Search */
.search {
  position: absolute;
  left: 75%;
  top: 13%;
}
.search input {
  height: 40px;
  width: 20vw;
  text-align: center;
  font-size: large;
  border-radius: 5px;
}

/* Home */
.categories {
  display: flex;
  justify-content: space-evenly;
}
.categories a {
  text-decoration: none;
  text-align: center;
  color: pink;
  padding-bottom: 30px;

}
.categories a img:hover {
  width: 20vw;
  height: 20vh;
}

/* className = component */
.component {
  width: 90vw;
}

/* Cart */
#cart_icon  {
  position: absolute;
  left: 65%;
  top: 14%;
}

/* Popup Modal */
.popup-content {
  background: rgb(10, 10, 10);
  color: pink;
  text-align: center;
  border-radius: 1%;
}
.popup-content img {
  border-radius: 1% 1% 0 0;
}
.popup-arrow {
  color: rgb(255, 255, 255);
}
[role='tooltip'].popup-content {
  width: auto;
  height: auto;
}

.popup-overlay {
  background: rgba(212, 211, 211, 0.5);
}

/* Cart */
.saveditems {
  display: flex;
  width: 60%;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}
