body {
  width: 97vw;
  margin: auto;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background-image: url(../public/bg5.webp);
  background-repeat: no-repeat;
  background-size: 100vw 40vh;
  background-position: 0% 30%;
}

/* Navbar */
.navlinks {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  border-radius: 5px;
  width: 40vw;
  margin: auto;
}
.navh1 {
  color: rgb(155, 27, 47);
  font-family: sans-serif;
  text-align: center;
  font-style: oblique;
  font-size: 2.4rem;
}
.navbar a {
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  color: black;
}
.navbar a:hover {
  font-size: large;
  color: red;
}
.navbar a:active {
  text-decoration: underline;
}
/* NavBar end */


/* Footer */
footer {
  background-color:rgb(155, 27, 47);
  color: white;
  padding-bottom: 5px;
}
.sections {
  display: flex;
  justify-content: space-around;
}
footer ul {
  list-style-type: none;
  line-height: 2em;
}
/* Footer end */

/* Home */
.home p, .liquor p , .blog p {
 height: 50vh; 
 margin-top: 15vh;
 color: white;
 text-align: center;
 font-size: 3em;
}