body {
  width: 97vw;
  margin: auto;
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background: url(../public/bg2.jpg) no-repeat 0% 25vh;
  background-size: 100vw 40vh;
  background-color: black;
}
.first {
  height: 30vh; 
  margin-top: 15vh;
  color: pink;
  text-align: center;
  font-size: 3em;
 }
 .second {   color: pink; }

/* Navbar */
.navlinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60vw;
  margin: auto;
}
.navh1 {
  color: rgb(155, 27, 47);
  font-family: sans-serif;
  text-align: center;
  font-style: oblique;
  font-size: 2.4rem;
}
.navbar a {
  display: inline-block;
  font-size: 1em;
  text-decoration: none;
  color: pink;
}
.navbar a:hover {
  font-size: large;
  color: red;
}
.navbar a:active {
  text-decoration: underline;
}
/* NavBar end */


/* Footer */
footer {
  background-color:rgb(155, 27, 47);
  color: white;
  padding-bottom: 5px;
}
.sections {
  display: flex;
  justify-content: space-around;
}
footer ul {
  list-style-type: none;
  line-height: 2em;
}

/* Footer end */

/* Blog*/

.article {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 80px;
}
.blogarticle {
  width: 23vw;
  background-color: lightgray;
  border-radius: 2%;
  padding: 10px;
}
.blogarticle img {
  display: inline-block;
  width: 23vw;
}

/* Blog end */

/* Liquor */
#liquor {
  margin-bottom: 30px;
  border: 2px whitesmoke solid;
  display: flex;
  align-items: center;
  width: 30vw;
  border-radius: 10px;
  color: pink;
  background-color: black;
}
#liquor p {
  text-align: center;
  line-height: 2em;
}
#liquor img {
  width: 60%;
  height: 100%;
}
.liquors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.submit, .readmore {
  background-color: pink;
  color: black;
}
.readmore{
  width:30%
}
.submit:active, .readmore:active {
  font-size: large;
}

/* Liquor end  */

/* Search */
.search {
  display: block;
  margin: auto;
  width: 10%;
}

/* Search end */

.subcategories {
  display: flex;
  justify-content: space-evenly;
}
.subcategories a {
  text-decoration: none;
  text-align: center;
  color: pink;

}
.ul {
  list-style-type: none;
}

/* AddReviews */

.reviews {
  text-align: center;
  font-style: oblique;
  margin: 80px 50px 50px;
  font-size: 1.5em;
}

form {
  text-align: center;
  margin-top: 50px; 
}
legend {
  color: pink;
  margin: 40px;
}
textarea {
  width: 50vw;
  height: 30vh;
  margin-bottom: 10px;
}